.flexbox-container-livingroom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: stretch; */
  height: 87vh;
}
.flexbox-item-livingroom-1 {
  /* background-color: peru; */
  text-align: left;
  width: 190px;
  flex-grow: 1;
}
.heading{
  background-color: goldenrod;
  text-align: center;
}

.sidebar-center{
  color: grey;
  /* background-color: pink; */
  padding: 5px 15px 10px 10px;
  cursor: pointer;

}
.activelink{
  color: goldenrod;
    font-size: 20px;
}
#rooms{
  margin-top: 20px;
  font-size: 25px;

}
.rwhite-logo{
height: 220px;
}

.flexbox-item-livingroom-2 {
  background-color: pink;
  flex-grow: 0;


}
.flexbox-item-livingroom-3 {
  background-color: peru;
  flex-grow: 0;
 
}
.room-view {
  object-fit: cover;
  height: 87vh;
  width: 790px;
  border: 4px solid white;
}
.room-view2 {
  border: 4px solid white;
  object-fit: cover;
  height: 87vh;
  width: 780px;
}
.roomheading{
  background-color: goldenrod;
  padding-left: 10px;
  text-align: left;
  height: 220px;
  width:320px;
}
.white-logo {
  height: 150px;
}
.example{
  color: grey;
  font-size: 15px;
}
.example.two{
  text-align: right;
}
.paragraph-bottom-disclaimer{
  color: grey;
  padding: 25px 10px  10px 10px;

}
h4#disclaimer{
  font-size: 20px;
  padding-top: 10px;

}
#disclaimerr{
  padding-top: 15px;
}
.tr{
  text-align: left;
  color: grey;
  font-size: 21px;
}
.trr{
  color: gray;
  margin-top: -56px;
  font-size: 12px;
}
.morer{
  /* background-color: pink; */
  color: gray;
  font-size: 19px;
  
}
.the-sun.room{
  background-color: rgb(220, 170, 44);
}
