@font-face {
  font-family: "luxury";
  src: url(/din/fonts/FF\ DIN\ Pro\ Regular.otf);
}
@font-face {
  font-family: "luxury1";
  src: url(/din/fonts/FF\ DIN\ Pro\ Regular\ 2.otf);
}
@font-face {
  font-family: "paragone";
  src: url(/paragone-luxury-serif-font/Paragone/Paragone.otf);
}
.flexbox-container {
  background-image: url("http://www.thesaruni.com/TheSaruniImages/home.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 88vh;
  justify-content: left;
}
.home-logo {
  height: 140px;
  padding: 65px 0px 0 75px;
}
.home-content {
  padding: 25px 0px 10px 75px;
}
.lore {
 
  font-size: 40px;
  padding: 19px 0px 10px 5px;
  color: white;
  font-weight: bold;
}
.home-nest {
  font-family: "paragone";
  color: white;
  font-size: 25px;
}
