.flexbox-container-neighhome {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  height: 87vh;
  padding: 0 15px 5px 35px;
}
.flexbox-item-neighhome1 {
  width: 180px;
  flex-grow: 1;
}
.jirheading{
  /* background-color: goldenrod; */
  text-align: left;
  height: 220px;
  padding-left: 10px;
  border-bottom: 3px solid grey;
}
.flexbox-item-neighhome2 {
  flex-grow: 1;
  width: 990px;
}
.grey-logo {
  height: 358px;
  width: 340px;
}
.neighborhood-image {
  object-fit: cover;
  height: 87vh;
  width: 100%;
}
.coddler {
  color: grey;
  font-size: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.nheading {
  text-align: center;
  padding: 5px 5px 15px 5px;
  color: gray;
  border-bottom: 3px solid goldenrod;
}
.mheading {
  text-align: left;
  padding: 55px 5px 15px 5px;
  color: gray;
  border-bottom: 3px solid goldenrod;
}

.gain {
  font-size: 20px;
  margin-top: 20px;
  font-weight: bolder;
}
.gain-top {
  color: grey;
  font-weight: bold;
  font-size: 20px;
}
.gain-top.top {
  padding: 25px 0 20px 0;
}
.place {
  list-style: none;
  color: grey;
  /* margin-top: 10px; */
  font-size: 17px;
}
.topic.title {
  color: gray;
  margin-top: -76px;
  font-size: 10px;
}
.topic.next {
  color: grey;
  font-size: 20px;
}
.nbody {
  padding: 85px 10px 75px 35px;
}
.mbody {
  /* background-color: pink; */
  padding: 25px 10px 30px 5px;
}
.exclude {
  color: grey;
  font-size: 35px;
  font-weight: bold;
}
.next {
  color: grey;
  text-align: center;
}
.jkia {
  color: grey;
  font-size: 14px;
}
.jirani{
  color: grey;
  padding: 15px 0 10px 15px;
}